docker.enabled = true

params {
    reads = "${projectDir}/data/sample_data.fastq"
    outdir = "${projectDir}/results"
    reference = "${projectDir}/data/ref/ref.fasta"
    reference_fai = "${projectDir}/data/ref/ref.fasta.fai"
    reference_dict = "${projectDir}/data/ref/ref.dict"
    run_qc = true
    run_vc = true
}